body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header{
    height: 1024px;
    background-image: url(img/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    &__text{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-top: 32px;
        margin-bottom: 44px;
    }
    &__button{
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.games{
    background-color: #000915;
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.game{
    width: 378px;
    height: 300px;
    border-radius: 18px;
    grid-column: span 4;
    position: relative;
    &__text{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        position: absolute;
        left: 32px;
        bottom: 32px;
    }
}


